*{
    box-sizing: border-box;
}

body{

    max-width: 1500px;
    background: #DDD;
    font-family: sans-serif;
    transition: background-color .5s;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    margin-left: 25px;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.opennav{
    font-size: 30px;
    cursor: pointer;
    margin-left: 93%;
    position: fixed;
    color: #DDD;
    text-shadow: 2px 2px black;
}

#main{
  width: 1440px;
    transition: margin-left .5s;
    position: absolute;
}
.space{
    padding: 7.3%;
}
.header{

    margin-top: -15px;
    padding: 69px;


    width: 100%;
    height: 101%;
    background: url(https://cdn.pixabay.com/photo/2015/03/26/22/04/city-skyline-693493_1280.jpg) no-repeat;
    background-position: center;
    background-size: cover;

}
h1{
    text-align: center;
    color: #DDD;
    text-shadow: 2px 2px black;
}
.img{
    border-radius: 50%;
    margin-left: 40%;
}
.down{
    color: #DDD;
    cursor: pointer;
    text-shadow: 2px 2px black;
    margin-left: 49%;
    text-decoration: none;
}

.aboutMe{
position: relative;
width: 101%;
margin-left: -7px;
    height: 100%;
    padding: 10px;
}
.skill{
    position: relative;
width: 101%;
margin-left: -7px;
    height: 100%;
    padding: 10px;
}
.projects{
    position:  relative;
width: 101%;
margin-left: -7px;
    height: 100%;
    padding: 10px;
}
.contact{
    position: relative;
width: 101%;
margin-left: -7px;
    height: 100%;
    color: white;
    background: black;
    padding: 10px;
}
.a{
   margin-left: 22%;
   text-decoration: none;
   color: blue;
}
img{
    border-radius: 5px;
}
